<div class='row'>
  <div class='col-md-4 col-lg-4 thumbnail'>
    <div class='caption'>
      <h4>Le ricette più interessanti della settimana</h4>
    </div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox" style="height: 200px">
        <% ([1,2,3,4,5,6].shuffle![0..2]).each_with_index do |indice,idx| %>
          <div class="<%= "item " + ((idx == 0) ? 'active' : '')  %>" >
            <%= image_tag("piatto#{indice}.jpeg", class: "img-thumbnail", style: "width: 100%; height: 200px; margin: auto") %>
            <div class="carousel-caption">
              <%= "piatto#{indice}" %>
            </div>
          </div>
        <% end %>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="fa fa-arrow-left icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="fa fa-arrow-right icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Autore</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tiramisù</td>
          <td>Filiberto</td>
        </tr>
        <tr>
          <td>Gnocchi</td>
          <td>Carmine</td>
        </tr>
        <tr>
          <td>Torta</td>
          <td>Francesco</td>
        </tr>
      </tbody>
    </table>   

  </div>

  <div class='col-md-4 col-lg-4 text-center'>
      <div class="thumbnail">
        <img src="assets/torta.jpeg">
        <div class="caption">
          <h3>Ricetta della settimana</h3>
          <p>Questa settimana abbiamo scelto per voi ...</p>
          <p>Preparare una base di pan di spagna ...</p>
          <p><a href="#" class="btn btn-primary" role="button">Vai alla ricetta</a> <a href="#" class="btn btn-default" role="button">Archivio</a></p>
        </div>
      </div>
  </div>

  <div class='col-md-4 col-lg-4 text-center thumbnail'>
    <iframe width="320" height="200" src="http://www.youtube.com/embed/Ec_FPub4lpA" frameborder="0"></iframe>
    <iframe width="320" height="200" src="http://www.youtube.com/embed/WTOC-vqQSZ0" frameborder="0"></iframe>
  </div>

</div>

